*{
margin:0;
padding:0;
}

body{
font-family:'Poppins',sans-serif;
background:#fff7e6;
}

header{
width:100%;
height:100px;
background:#f7c948;
display:flex;
justify-content:space-around;
align-items:center;
}

.logo{
width:100px;
height:100px;
}

ul{
list-style:none;
}

li{
display:inline;
margin:15px;
}

a{
text-decoration:none;
color:black;
font-weight:bold;
}

a:hover{
color:red;
}



.banner{
width:100%;
padding-top:30px;
padding-bottom:30px;
background:linear-gradient(to right,#ff7b00,#ffb300);
text-align:center;
color:white;
box-shadow:0px 0px 15px black;
}

.banner h1{
font-size:80px;
font-weight:700;
letter-spacing:4px;
text-shadow:4px 4px 10px black;
}

.banner h2{
font-size:35px;
margin-top:15px;
margin-bottom:20px;
text-shadow:3px 3px 8px black;
}

.banner img{
width:500px;
height:300px;
border-radius:20px;
box-shadow:0px 0px 20px black;

}

.banner p{
font-size:22px;
margin-bottom:20px;
text-shadow:2px 2px 5px black;
}

.productos{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.caja{
width:250px;
height:250px;
background:white;
margin:15px;
border:2px solid orange;
text-align:center;
padding:10px;
box-shadow:0px 0px 10px gray;
}

.caja img{
width:200px;
height:150px;
}

footer{
margin-top:20px;
padding:20px;
background:#ff7b00;
color:white;
text-align:center;
}

.titulo{
text-align:center;
margin:20px;
}

.texto{
text-align:center;
font-size:20px;
margin:30px;
}